<!DOCTYPE HTML>
<html>

<%- include head.ejs %>

<body>

	<!-- Header -->
    <%- include admin-header.ejs %>

	<!-- Wrapper -->
	<div id="wrapper">
		<!-- Main -->
		<div id="main">

			<section id="one">
				<div class="container">
					<header class="major">
						<h2>Administración</h2>
						<p>Administra distintos aspectos del sitio</p>
					</header>
					<p>Desde esta vista es posible editar el texto de la pantalla principal y subir o eliminar imágenes. 
					</p>
				</div>
			</section>


		</div>

		<!-- Footer -->
		<%- include footer.ejs %>

	</div>

	<!-- Scripts -->
    <%- include scripts.ejs %>
</body>

</html>