<section id="header">
    <header>
        <span class="image avatar"><img src="images/avatar.jpg" alt="" /></span>
        <h1 id="logo"><a href="#">Belu's bakery</a></h1>
        <p>Tortas, bombones, mesas dulces y más</p>
    </header>
    <nav id="nav">
        <ul>
            <li><a id="main-a" href="/main" >Inicio</a></li>
            <li><a id="recipes-a" href="/recipes">Recetas</a></li>
            <li><a id="contact-a" href="/contact">Contacto</a></li>
            <li><a id="admin-a" href="/admin">Admin</a></li>
        </ul>
    </nav>
    <footer>
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
        </ul>
    </footer>
</section>