<!DOCTYPE HTML>
<html>

<%- include head.ejs %>

<body>

	<!-- Header -->
    <%- include header.ejs %>

	<!-- Wrapper -->
	<div id="wrapper">
		<!-- Main -->
		<div id="main">

			<!-- One -->
			<section id="one">
				<div class="container">
					<header class="major">
						<h2>Belu's bakery</h2>
						<p>Tortas, bombones, mesas dulces y mucho más</p>
					</header>
					<p>En Belu's bakery nos especializamos en pastelería artesanal y servicios de catering. Realizamos entregas
                    a domicilio en zona norte. 
					</p>
				</div>
			</section>


		</div>

		<!-- Footer -->
		<%- include footer.ejs %>

	</div>

	<!-- Scripts -->
    <%- include scripts.ejs %>
</body>

</html>